
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  
  /* CSS */

  /* About Me Section */

  .social{
    width: 100%;
    margin: auto;
  }
  .social ul{
    margin: auto;
  }



  /* Portfolio Section Start Here */

  .img-gallery{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .part1, .part2, .part3{
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* Testimonial Section Start Here */

  .testimonial{
    padding: 40px 0;
  }

  .comnt .quote{
    width: 100%;
    margin: auto;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}